@import url("https://fonts.googleapis.com/css?family=Indie+Flower");
.new, .question, .main-error {
  text-align: center; }

a, .logout a {
  text-decoration: none; }

body {
  background-image: url("../images/wood.jpg");
  background-size: cover;
  background-repeat: repeat-y; }

.main {
  border-radius: 1%;
  background: rgba(1, 1, 1, 0); }
  @media screen and (max-width: 1200px) {
    .main {
      background: transparent; } }

input {
  border: 1px solid black;
  background: rgba(255, 255, 255, 0.5); }

input:focus {
  outline: none; }

.row {
  border: 3px solid black;
  border-radius: 2%;
  background: rgba(255, 255, 255, 0.5); }

.question {
  background: rgba(1, 1, 1, 0); }

.register {
  border: 1px solid black;
  background: rgba(1, 1, 1, 0.6); }
  @media screen and (max-width: 1200px) {
    .register {
      background: transparent;
      border: none; } }

.submit {
  cursor: pointer;
  background: rgba(1, 1, 1, 0.5); }

#pw, #pw2, #name, #username {
  border: 3px solid black; }

.logout {
  background: rgba(1, 1, 1, 0.6); }

.navbar {
  background: rgba(1, 1, 1, 0.8); }

.main-error {
  background: rgba(1, 1, 1, 0); }

#new-question-input, #new-answer-input {
  border: 2px solid black; }

body {
  font-family: "Indie Flower", Helvetica, Arial, sans-serif;
  font-weight: bold; }

input {
  font-size: 28px; }

.text {
  font-size: 30px;
  color: black;
  overflow: hidden; }

.arrows {
  font-size: 30px; }

.asks {
  color: #2C4770; }

.votes {
  color: black; }

a {
  color: black; }

.question {
  font-size: 36px;
  color: #fff; }

nav {
  text-align: right; }

.register {
  text-align: left;
  color: #fff; }

.signup {
  font-size: 24px;
  color: #4A9AD3; }

.delete {
  cursor: pointer; }

.submit {
  font-size: 24px;
  color: #fff;
  cursor: pointer; }

label {
  font-size: 40px; }

#pw, #pw2, #name, #username {
  color: black; }

.login-button {
  font-size: 20px; }

.logout a {
  font-size: 20px;
  color: #fff; }

.username {
  color: #fff; }

.error {
  font-size: 72px;
  color: #fff; }

@media screen and (max-width: 992px) {
  #quote {
    font-size: 18px; } }

button {
  background: rgba(1, 1, 1, 0); }

button:focus {
  outline: none; }

.main {
  width: 80%;
  min-height: 1300px;
  margin: 10% auto;
  padding-top: 50px; }
  @media screen and (max-width: 1200px) {
    .main {
      width: 100%; } }

input {
  width: 800px;
  height: 50px;
  padding-left: 20px; }

form {
  min-height: 120px;
  margin: 0 auto;
  margin-bottom: 80px; }
  @media break-xlarge {
    form {
      width: 70%;
      margin: 0 auto;
      margin-bottom: 80px; } }

.form-group {
  margin-top: 0;
  padding-top: 15px; }

.register {
  width: 40%;
  height: 800px;
  margin: 5% auto;
  padding: 70px; }
  @media screen and (max-width: 1200px) {
    .register {
      width: 90%;
      max-width: 400px;
      margin-top: 2%;
      height: 700px;
      padding: 20px; } }

.login-button {
  margin-top: 20px;
  margin-bottom: 20px;
  height: 40px;
  min-width: 80px; }

.logout {
  width: 80px;
  height: 40px;
  margin-top: 10px; }

#pw, #pw2, #name, #username {
  width: 100%; }

.submit {
  padding-left: 10px; }
  @media screen and (max-width: 1400px) {
    .submit {
      margin-top: 30px; } }

#new-question-input, #new-answer-input {
  margin: 0 auto; }
  @media screen and (max-width: 1400px) {
    #new-question-input, #new-answer-input {
      max-width: 100%; } }
  @media screen and (max-width: 992px) {
    #new-question-input, #new-answer-input {
      width: 80%;
      margin: 0 auto; } }

.row {
  width: 80%;
  height: 80px;
  margin: 0 auto;
  padding-top: -20px;
  margin-bottom: 30px; }
  @media screen and (max-width: 660px) {
    .row {
      width: 95%; } }

.text {
  padding-top: 10px;
  width: 90%;
  max-height: 48px; }
  @media screen and (max-width: 992px) {
    .text {
      width: 80%; } }

.arrows {
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 0; }

.asks {
  margin-top: 0;
  margin-bottom: 0; }

.votes {
  padding-top: 25px; }

.editing-label {
  margin-left: -15px;
  margin-top: 5px;
  padding-top: 10px;
  height: 40px; }

.question {
  width: 80%;
  min-height: 100px;
  margin: 5% auto;
  padding-top: 15px; }

.author {
  margin-top: 20px;
  padding-left: 60%; }

nav .btn {
  margin: 15px; }

.main-error {
  width: 40%;
  margin: 15% auto; }

/*# sourceMappingURL=application.css.map */
