			<div class="main">
				<div class="question">
					<label id="quote">{{question.text}}</label>
					<h4 class="author"> - {{question.createdBy}}</h4>
				</div>
				
				<form form class="answer-form">	
					<div>
						<input type="text" ng-model="input">
						<button class="submit" ng-click="addAnswer()">Add Answer</button> 
					</div>
				</form>
		

				<div class="row" ng-repeat="answer in question.answers">
					<div class="vote">
						<label ng-click="upvote(answer)">{{answer.votes.length}}</label>
					</div>
					<div class="text">
						<div class="labels">
							<h3 class="asks">{{answer.createdBy}} replied:</h3>
							<label ng-click="answer.editing=true" ng-hide="answer.editing && !answer.notMine">{{answer.text}}</label>
							<input ng-blur="updateAnswer(answer)" ng-show="answer.editing && !answer.notMine" type="text" ng-model="answer.text" class="editing-label"> 
						</div>
					</div>		
					<div class="delete">	
						<span ng-hide="answer.notMine" ng-click="deleteAnswer(answer)">X</span>	
					</div>
				</div>
			</div>
		