extends ./layout.pug
block content
  body
    div.main
      form.register(method="POST" action="/register")
        div
          label(for="name") Name: 
          input#name(type="text" placeholder="first and last" name="name")
        div
          label(for="username") Username: 
          input#username(type="text" placeholder="username" name="username")
        div
          label(for="pw") Password: 
          input#pw(type="password" placeholder="password" name="password")
        div
          label(for="pw2") Confirm Password: 
          input#pw2(type="password" placeholder="password" name="confirmPassword")
        button.login-button(type="submit") RESGISTER

