extends ./layout.pug
block content
  body
    form.register(method="POST" action="/register")
      div.form-group
        label(for="name") Name: 
        input#name(type="text" placeholder="first and last" name="name")
      div.form-group
        label(for="username") Username: 
        input#username(type="text" placeholder="username" name="username")
      div.form-group
        label(for="pw") Password: 
        input#pw(type="password" placeholder="password" name="password")
      div.form-group
        label(for="pw2") Password: 
        input#pw2(type="password" placeholder="password" name="confirmPassword")
      button.login-button(type="submit") RESGISTER

