.row {
	width: 80%;
	height: 80px;
	margin: 0 auto;
	padding-top: -20px;
	margin-bottom: 30px;
}

.text {
	padding-top: 10px;
	width: 90%;
	max-height: 48px;
}

.arrows {
	padding-left: 10px;
	padding-top: 15px;
	padding-bottom: 0;
}


.asks {
	margin-top: 0;
	margin-bottom: 0;
}

.votes {
	padding-top: 25px;
}


.editing-label {
	margin-left: -15px;
	margin-top: 5px;
	padding-top: 10px;
	height: 40px;
}
