
body {
	@include image('wood');
	background-repeat: repeat-y;
}

.main {
	border-radius: 1%;
	@include opacity(0);
	@media #{$break-desktop} {
		background: rgba(0,0,0,0);
	}
}

input {
	border: 1px solid $black;
	background: $seethroughwhite;
}

input:focus {
	outline: none;
}

.row {
	border: 3px solid $black;
	border-radius: 2%;
	background: $seethroughwhite;
}

.question {
	@include opacity(0);
}


.register {
	border: 1px solid $black;
	@include opacity(.6);
	@media #{$break-desktop} {
		background: rgba(0,0,0,0);
		border: none;
	}
}

.submit {
	cursor: pointer;
	@include opacity(.5);
}

#pw, #pw2, #name, #username {
	border: 3px solid $black;
}

.logout {
	@include opacity(.6);
}
.navbar {
	@include opacity(.8);
}

.main-error {
	@include opacity(0);
}

#new-question-input, #new-answer-input {
	border: 2px solid $black;
}
