
@include font-face('Indie+Flower');


body {
	font-family: $stack-indieflower;
	font-weight: bold;
}

.new {
	@extend %centered;
}

input {
	@include font(28px);
}

.text {
	@include font(30px, black);
	overflow: hidden;
}

.arrows {
	@include font(30px);
}

.asks {
	color: $blue;
}

.votes {
	color: $black;
}

a {
	@extend %decoration;
	color: $black;
}

.question {
	@include font(36px, $white);
	@extend %centered;
}

nav {
	text-align: right;
}

.register {
	text-align: left;
	color: $white;
}

.signup {
	@include font(24px, $lightblue);
}

.delete {
	cursor: pointer;
}

.submit {
	@include font(24px, $white);
	cursor: pointer;
}

label {
	@include font(40px);
}

#pw, #pw2, #name, #username {
	color: $black;
}

.login-button {
	@include font(20px);
}

.logout a {
	@include font(20px, $white);
	@extend %decoration;
}

.username {
	color: $white;
}

.main-error {
	@extend %centered;
}

.error {
	@include font(72px, $white);
}

#quote {
	@media #{$break-laptop} {
		font-size: 18px;
	}
}
