form {
	min-height: 120px;
	margin: 0 auto;
	margin-bottom: 80px;
}

.form-group {
	margin-top: 0;
	padding-top: 15px;
}

.register {
	width: 40%;
	height: 800px;
	margin: 5% auto;
	padding: 70px;
}

.login-button {
	margin-top: 20px;
	margin-bottom: 20px;
	height: 40px;
	min-width: 80px;
}

.logout {
	width: 80px;
	height: 40px;
	margin-top: 10px;
}

#pw, #pw2, #name, #username {
	width: 100%;
}

.submit {
	padding-left: 10px;
}

#new-question-input, #new-answer-input {
	margin: 0 auto;
}